/* Reset CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;} article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol,ul {list-style: none;} blockquote, q {quotes: none;} blockquote::before, blockquote::after, q::before, q::after {content: ''; content: none;} table {border-collapse: collapse; border-spacing: 0;}

/* 센터정렬 */
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


/* 헤더설정 */
header {
    position: fixed;
    height: 80px;
    width: 100%;
}

/* 로고설정  */
#logo {
    font-size: 4rem;
    position: absolute;
    top: 1rem;
    left: 5%;
    text-decoration: none;
    color: white;
    transform: skew(var(--skew)) scale(var(--scale));
    }
#logo::before, #logo::after {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    transition: clip-path 50ms ease-in;
}

#logo::before {
    left: 5px;
    text-shadow: 2px -2px #2a96d4;
    clip-path: polygon(
        0 var(--t1), 100% var(--t1), 100% var(--b1), 0 var(--b1)
    );
}

#logo::after {
    left: -5px;
    text-shadow: -2px 2px #cc2a1f;
    clip-path: polygon(
        0 var(--t2), 100% var(--t2), 100% var(--b2), 0 var(--b2)
    );
}

/* 네비설정  */
nav {
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: 5%;
    top: 50%;
    margin-top: -1rem;
}

/* 카드설정 */

#frame {
    width: 300px;
    height: 450px;
    transition: fransform 200ms;
}

#frame:hover {
    transform: scale3d(1.05, 1.05, 1.05);
}

#card {
    width: 100%;
    height: 100%;
    border-radius: 9px;
    background: url(/img/yellowcard.png);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0,1);
    position: relative;
    transition-duration: 250ms;
    transition-property: transform, box-shadow;
    transition-timing-function: ease-out;
}

#light {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 9px;
}

/* 빗줄기 배경 */

html,body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(to bottom, #222b33, #12171b);
    font-family: "Indie Flower", cursive;
} 


